global:
  scrape_interval: 60s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: 'node'
    static_configs:
    - targets: ['node-exporter:9100', '192.168.0.151:9100', '192.168.0.152', '192.168.0.155', '192.168.0.160:9100', '192.168.0.170:9100']
